# Dependências
node_modules/

# Variáveis de ambiente (Senhas e chaves de API)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de build/dist (se você usar TypeScript ou React)
dist/
build/

# Arquivos do Sistema
.DS_Store
Thumbs.db